@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-xs text-muted text-lg-start">
                Copyright
                © <script>
                      document.write(new Date().getFullYear())
                </script>
                Me-Sika 2022 by
                <a href="https://www.bitepitome.com" class="text-secondary" target="_blank">BitEpitomy</a>.
            </div>
        </div>
        
    </div>
</div>