@*@page*@
@model MeSika.Web.Pages.IndexModel
@{
    //ViewData["Title"] = "Home page";
}


<div class="position-relative overflow-hidden">
    <div class="swiper mySwiper mt-4 mb-2">
        <div class="swiper-wrapper">

            @*loop and display the swippers*@

            @{ 
                foreach (var item in @Model.Cards)
                {
                 <div class="swiper-slide">
                    <div>
                        <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
                            <div class="full-background bg-cover" style="background-image: url('../assets/img/@item.img')"></div>
                            <div class="card-body text-start px-3 py-0 w-100">
                                <div class="row mt-12">
                                    <div class="col-sm-3 mt-auto">
                                            <h4 class="text-dark font-weight-bolder">@item.AccountNumber</h4>
                                            <p class="text-dark opacity-6 text-xs font-weight-bolder mb-0">@item.CardName</p>
                                        <h5 class="text-dark font-weight-bolder">Secured</h5>
                                    </div>
                                    <div class="col-sm-3 ms-auto mt-auto">
                                        <p class="text-dark opacity-6 text-xs font-weight-bolder mb-0">Category</p>
                                        <h5 class="text-dark font-weight-bolder">@item.Type</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                }
  
            }
           
           
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>